<template>
  <div class="control-panel">
    <h3 class="title is-3">Control panel</h3>
    <MoonLoader v-show="loading"/>
    <div style="margin-top: 20px">
      <h4 class="title is-4">Genetic algorithm parameters</h4>

      <div class="columns parameters">
        <div class="field column">
          <label for="steps">Steps</label>
          <input
            v-model="steps"
            class="input"
            type="number"
            placeholder="Steps"
          >
        </div>

        <div class="field column">
          <label for="population-size">Population size</label>
          <input
            v-model="populationSize"
            class="input"
            type="number"
            placeholder="Population size"
          >
        </div>

        <div class="field column">
          <label for="tournament-size">Tournament size</label>
          <input
            v-model="tournamentSize"
            class="input"
            type="number"
            placeholder="Tournament size"
          >
        </div>

        <div class="field column">
          <label for="mutation-rate">Mutation rate</label>
          <input
            v-model="mutationRate"
            class="input"
            type="number"
            placeholder="Mutation rate"
          >
        </div>
      </div>

      <div class="columns parameters">
        <div class="column">
          <div class="select">
            <select v-model="routeOriginId">
              <option
                :value="null"
                disabled
              >Select origin</option>
              <option
                v-for="point in points"
                :key="point.id"
                :value="point.id"
              >
                {{ point.name }}
              </option>
            </select>
          </div>
        </div>
      </div>

      <div class="buttons">
        <button
          class="button is-primary"
          :class="{ 'is-loading': processing }"
          :disabled="processing || !routeOriginId"
          type="button"
          @click="start()"
        >
          Start
        </button>

        <button
          class="button is-danger"
          type="button"
          :disabled="!processing"
          @click="stop()"
        >
          Stop
        </button>

        <button
          type="button"
          class="button is-warning"
          :disabled="processing"
          @click="setShowRoute(false)"
        >
          Clear
        </button>
      </div>

    </div>

    <RoutePlot>
    </RoutePlot>
  </div>
</template>

<script>
import {
  mapState,
  mapMutations,
} from 'vuex'
import { MoonLoader } from '@saeris/vue-spinners'

import RoutePlot from './RoutePlot'


export default {
  components: {
    RoutePlot,
    MoonLoader,
  },

  data() {
    return {
      worker: null,

      steps: 20000,
      tournamentSize: 5,
      mutationRate: 0.02,
      populationSize: 100,
      routeOriginId: null,
    }
  },

  computed: {
    ...mapState({
      points: state => state.points,
      processing: state => state.processing,
      loading: state => state.loading,
      logs: state => state.logs,
    }),
  },

  watch: {
    routeOriginId() {
      this.setRouteOriginId(this.routeOriginId)
    },
  },

  methods: {
    ...mapMutations([
      'setWinnerInfo',
      'setProcessing',
      'clearLogs',
      'pushLog',
      'setRouteOriginId',
      'setShowRoute',
    ]),

    start() {
      this.clearLogs()
      const worker = new Worker('../worker.js', { type: 'module' })
      this.$set(this, 'worker', worker)


      this.worker.onmessage = ({ data }) => {
        if (data.type === 'updateLog') {
          this.pushLog(data.log)
        }

        if (data.type === 'done') {
          this.setProcessing(false)
          const winnerInfo = data.winner
          this.setWinnerInfo(winnerInfo)
        }
      }

      this.setProcessing(true)

      this.worker.postMessage({
        type: 'calculate',
        customOptions: {
          steps: this.steps,
          tournamentSize: this.tournamentSize,
          populationSize: this.populationSize,
          mutationRate: this.mutationRate,
        },
        points: this.points,
        routeOriginId: this.routeOriginId,
      })
    },

    stop() {
      this.worker.terminate()
      this.setWinnerInfo(this.logs[this.logs.length - 1])
      this.setProcessing(false)
    },
  },
}
</script>

<style scoped>
.control-panel {
  margin-top: 10px;
  overflow-y: scroll;
  height: 100vh;
  overflow-x: hidden;
}

.parameters, .parameters input {
  font-size: 12px;
}

.parameters {
  margin-right: 5px;
}
</style>
