<template>
  <div>
    <div id="google-maps"></div>
  </div>
</template>

<script>
import {
  mapState,
  mapMutations,
} from 'vuex'

import {
  mapCenter,
  GOOGLE_MAPS_START_ICON,
} from '../config'
import { initGmaps } from '../gmaps'
import gmapsStyles from '../gmaps-styles'



export default {
  data() {
    return {
      gmaps: null,
      google: null,
      directionService: null,
      markers: [],
      renderers: [],
    }
  },

  computed: {
    ...mapState({
      points: state => state.points,
      processing: state => state.processing,
      winnerInfo: state => state.winnerInfo,
      routeOriginId: state => state.routeOriginId,
      logs: state => state.logs,
      loading: state => state.loading,
      showRoute: state => state.showRoute,
    }),
  },

  watch: {
    logs() {
      if (this.logs.length > 0 && this.logs.length % 1000 === 0) {
        this.clearMarkers()
        this.clearRenderers()
        this.displayWinner(this.logs[this.logs.length - 1].winner)
      }
    },

    winnerInfo() {
      if (this.winnerInfo) {
        const { winner } = this.winnerInfo
        this.clearMarkers()
        this.clearRenderers()
        this.displayWinner(winner)
      }
    },

    routeOriginId() {
      this.clearMarkers()
      this.initPoints()
    },

    showRoute() {
      if (!this.showRoute) {
        this.clearRenderers()
        this.setShowRoute(true)
      }
    },
  },

  async mounted() {
    this.setLoading(true)
    try {
      const google = await initGmaps()
      const gmaps = new google.maps.Map(
        document.getElementById('google-maps'),
        {
          zoom: 12,
          center: mapCenter,
          options: {
            gestureHandling: 'greedy',
          },
          styles: gmapsStyles,
        },
      )

      gmaps.addListener('rightclick', (event) => {
        this.addPoint({
          name: 'Point X',
          lat: event.latLng.lat(),
          lng: event.latLng.lng(),
        })
      })

      this.$set(this, 'gmaps', gmaps)
      this.$set(this, 'google', google)

      this.initPoints()


      const directionService = new google.maps.DirectionsService()

      this.$set(this, 'directionService', directionService)

//      await this.initDistances()
    } catch (e) {
      console.error(e)
    }

    this.setLoading(false)
  },

  methods: {
    ...mapMutations([
      'addPoint',
      'updateDist',
      'setLoading',
      'setShowRoute',
    ]),

    initPoints() {
      Object.values(this.points).forEach((point) => {
        const options = {
          position: {
            lat: point.lat,
            lng: point.lng,
          },
          map: this.gmaps,
          animation: this.google.maps.Animation.DROP,
        }

        if (point.id === this.routeOriginId) {
          options.icon = GOOGLE_MAPS_START_ICON
        }


        const marker = new this.google.maps.Marker(options)
        this.markers.push(marker)
      })
    },

    distance(origin, destination) {
      const route = {
        origin,
        destination,
        travelMode: 'DRIVING',
      }

      return new Promise((resolve, reject) => {
        this.directionService.route(route, (res, status) => {
          if (status !== 'OK') return reject(status)
          resolve(res)
        })
      })
    },

    async initDistances() {
      const pointIds = Object.keys(this.points)

      for (let i = 0; i < pointIds.length; i += 1) {
        for (let j = 0; j < pointIds.length; j += 1) {
          if (pointIds[i] === pointIds[j]) continue
          if (this.points[pointIds[i]].dist[pointIds[j]]) continue

          try {
            const routeRes = await this.distance(this.points[pointIds[i]], this.points[pointIds[j]])

            this.updateDist({
              originId: pointIds[i],
              destId: pointIds[j],
              routeRes,
            })
          } catch (e) {
            console.error(pointIds[i], pointIds[j])
          }
        }
      }
    },

    displayRoute(routeRes, index) {
      const directionRenderer = new this.google.maps.DirectionsRenderer({
        suppressMarkers: true,
      })

      directionRenderer.setMap(this.gmaps)
      directionRenderer.setDirections(routeRes)

      const options = {
        position: routeRes.routes[0].legs[0].start_location,
        map: this.gmaps,
     }

      if (index === 0)
        options.icon = GOOGLE_MAPS_START_ICON
      else
        options.label = {
          text: `${index}`,
          color: 'white',
        }


      this.markers.push(new this.google.maps.Marker(options))
      this.renderers.push(directionRenderer)
    },

    displayWinner(winner) {
      for (let i = 0; i < winner.length - 1; i += 1) {
        const routeRes = this.points[winner[i]].dist[winner[i + 1]]
        this.displayRoute(routeRes, i)
      }

      const routeRes = this.points[winner[winner.length - 1]].dist[winner[0]]
      this.displayRoute(routeRes, winner.length - 1)
    },

    clearMarkers() {
      for (let i = 0; i < this.markers.length; i += 1)
        this.markers[i].setMap(null)

      this.markers.splice(0, this.markers.length)
    },

    clearRenderers() {
      for (let i = 0; i < this.renderers.length; i += 1)
        this.renderers[i].setMap(null)

      this.renderers.splice(0, this.renderers.length)
    },
  },
}
</script>

<style>
#google-maps {
  width: 100%;
  height: 100vh;
}
</style>
