<template>
  <div style="margin-top: 15px">
    <h3 class="title is-4">Shortest routes</h3>

    <div v-if="logs.length > 0">
      Best route length: {{ logs[logs.length - 1].routeLength / 1000 }} km,
      Step {{ logs.length * 100 }}
    </div>

    <LineChart
      :styles="{ height: '250px' }"
      :chart-data="chartData"
      :options="options"
    ></LineChart>
  </div>
</template>

<script>
import { mapState } from 'vuex'

import LineChart from './LineChart'



export default {
  components: {
    LineChart,
  },

  data() {
    return {
      options: {
        responsive: true,
        maintainAspectRatio: false,
        title: {
          display: true,
          text: 'Shortest route every 100 steps',
        },
      },
    }
  },

  computed: {
    ...mapState({
      logs: state => state.logs,
    }),

    chartData() {
      return {
        labels: this.logs.map((log, index) => 100 * index),
        datasets: [
          {
            label: 'Route length (in meter)',
            data: this.logs.map(({ routeLength }) => routeLength),
            backgroundColor: 'transparent',
            borderColor: 'rgba(1, 116, 188, 0.50)',
          },
        ],
      }
    },
  },
}
</script>
