<template>
  <div id="app">
    <div class="columns">
      <div class="column is-three-fifths">
        <CustomMap>
        </CustomMap>
      </div>

      <div class="column">
        <ControlPanel>
        </ControlPanel>
      </div>
    </div>
  </div>
</template>

<script>
import {
  mapState,
  mapMutations,
} from 'vuex'

import { GOOGLE_MAPS_ROUTE_DATA_URL } from './config'

import CustomMap from './components/CustomMap'
import ControlPanel from './components/ControlPanel'


export default {
  components: {
    CustomMap,
    ControlPanel,
  },

  computed: {
    ...mapState({
      loading: state => state.loading,
      points: state => state.points,
    }),
  },

  async created() {
    const dataExisted = this.points[0] && this.points[0].dist[1]
    if (!dataExisted) {
      this.setLoading(true)
      try {
        const response = await fetch(GOOGLE_MAPS_ROUTE_DATA_URL)
        const data = await response.json()

        this.setPoints(data)
      } catch (e) {
        console.error(e)
      }

      this.setLoading(false)
    }
  },

  methods: {
    ...mapMutations([
      'setLoading',
      'setPoints',
    ]),
  },
}
</script>

<style scoped>
#app {
  height: 100vh;
}
</style>
